.NewBlogCard {
  margin: 16px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  background-color: #20232a;
  color: rgb(197, 165, 197);
}

.NewBlogCard h3 {
  color: #61dafb;
}

@media (min-width: 992px){
  .NewBlogCard {
    width: 45%;
    display: inline-block;
  }
}